container_commands:
  01_migrate:
      command: "python manage.py migrate --noinput"
      leader_only: true
  02_createsuperuser:
    command: "echo \"from accounts.models import Account; Account.objects.create_superuser('Anastasia', 'Alala', 'anastasiagamaley@gmail.com', 'Anastasia', '123456')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: online_shop.settings
