<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			{% csrf_token %}
			<div class="col-md-2">
				<p class="text-muted"> &copy 2022 Realitcom s.r.o. </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">elele@elele.sk</span>
				<span  class="px-2">+421 948 295 089</span>
				<span  class="px-2">Magurská 37, 974 11 Banská Bystrica</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<span  class="px-2">Návštev: {{num_visits}}</span>
				<i class="fa fa-cc-visa"></i>
				<i class="fa fa-cc-paypal"></i>
				<i class="fa fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>

<script type="text/javascript" charset="UTF-8" src="//cdn.cookie-script.com/s/fccb1db65a993f44c0b62d75a4fbfa18.js"></script>
<!-- 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 -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>
</body>
</html>
