{% load static %}
<header class="section-header">
<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
<div class="container">


  <button class="navbar-toggler center" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarTop4">
    <ul class="navbar-nav mr-auto">
    <li><a href="{% url 'contact'%}" class="nav-link"> <i class="fa fa-envelope"></i>elele@elele.sk</a></li>
    <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> 0948 295 089 </a></li>

  </ul>

  <ul class="navbar-nav ml-auto">
    <li><form action="{% url 'search' %}" class="search" method='GET'>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Hľadať" name="keyword">

          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </form></li>
    {% if user.id is None %}
      <li><a class="nav-link" href="{% url 'login' %}">Prihlásenie</a></li>
      <li><a class="nav-link" href="{% url 'register' %}">Registrácia</a></li>
      {% else %}
      <li><a class="nav-link" href="{% url 'dashboard'%}">Účet</a></li>
      <li><a class="nav-link" href="{% url 'logout' %}">Odhlásenie</a></li>
      {% endif %}
  </ul>

    </div>
  </div><!-- list-inline //  -->
 <!-- container //  -->
</nav>

<section class="header-main border-bottom" >
  <div class="container">
<div class="row align-items-center">
  <div class="col-lg-4 col-md-6 col-12">

    <a href="{% url 'home' %}" class="">
      <img class="logo" class="img-fluid"  style="width:350px;height:120px;"  src="{% static './images/logo3.png'%}">
    </a> <!-- brand-wrap.// -->
  </div>

<div class="btn-toolbar col-lg-8  col-md-6 col-12 col-md-auto" >
  <div class="btn-group flex-wrap" >

    <div class="category-wrap d-inline-block float-left mr-2">
         <a href="{% url 'company' %}" class="buttonsize btn btn-dark btn-lg">Firma</a>
       </div>
     <div class="category-wrap d-inline-block float-left mr-2">
         <a href="{% url 'dtf' %}" class="buttonsize btn btn-outline-dark btn-lg">DTF</a>
     </div><!--col-lg col-sm-12 col-md col-6 flex-grow-0-->
    <div class="category-wrap dropdown d-inline-block float-left mr-2">
      <button type="button" class="buttonsize btn btn-dark dropdown-toggle btn-lg" data-toggle="dropdown">
        <i class="fa fa-bars"></i> E-Shop
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'store'%}">Produkty</a>
        {% for category in links%}
        <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
        {% endfor %}
        </div>
    </div>  <!-- category-wrap.// -->
   <!-- col.// -->
   <div class="category-wrap d-inline-block float-left mr-2">
        <a href="{% url 'contact' %}" class="buttonsize btn btn-outline-dark btn-lg">Kontakty</a>
      </div>
    <div class="category-wrap d-inline-block float-left mr-2">
        <a href="{% url 'rules' %}" class="buttonsize btn btn-dark btn-lg">Podmienky</a>
    </div>


</div>





  <div class="order-2 order-lg-3 ml-auto">
        <div class="d-flex justify-content-end">
          <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
          </a>
        </div> <!-- widgets-wrap.// -->
      </div>
      </div><!-- col.// -->
</div> <!-- row.// -->
  </div> <!-- container.// -->
</section> <!-- header-main .// -->




</header> <!-- section-header.// -->
