{% extends 'base.html'%}

{% block content %}
<<section class="section-content padding-y bg"  >
<div class="container" >

	<h2 class="title-page">	Vítame vás na našej stránke.</h2>



	<!-- ============================ COMPONENT 1 ================================= -->
	<div class="card">
		<div class="row no-gutters">
			<article class="content-body">


	<p> Individuálny prístup, poradenstvo a znalosť technológie DTF je pre teba, ako stvorený.
Taktiež sa vieme postarať o tvoju tlačiareň vykonaným servisom podľa tvojich požiadaviek, aby tvoja tlačiareň opäť pracovala tak dobre, ako keď si ju kúpil.

</p>
					<p>S nami to môžeš mať jednoduchšie, kvalitnejšie a hlavne ľahšie. Netráp sa s nastavovaním, skúšaním ale pusť sa rovno do tlače. My toto už máme za sebou a radi sa s tebou podelíme o naše skúsenosti.
</p>
					<p>Náš tým profesionálnych pracovníkov je ti vždy pripravený poradiť a nastaviť tvoj program, tlačiareň kedykoľvek. Sme vždy online na WhatsAppe a keď to tam nejde, tak ti vieme všetko nastaviť a vysvetliť cez TeamViewer. Taktiež  sme ochotný ťa navštíviť aj doma a tam ti všetko vysvetliť, ukázať a nastaviť a hlavne predviesť ako DTF funguje ak s DTF práve začínaš.
</p>
					<p>O kvalite našej práce či už pri predaji, poradenstve alebo servise hovoria referencie od spokojných zákazníkov.
	</p>





<p>Na záver vám prajeme veľa radosti pri práci s technológiou DTF a hlavne: Nech to tlačí....... tak ako má.
</p>

<article class="content-body">

</div>
</div>

</div> <!-- container //  -->
</section>

{% endblock %}
