{% extends 'base.html'%}

{% block content %}
<section class="section-content padding-y bg"  >
<div class="container" >

	<h2 class="title-page">	Digital Transfer Film Printing -  skrátené DTF.</h2>



	<!-- ============================ COMPONENT 1 ================================= -->
	<div class="card">
		<div class="row no-gutters">
			<article class="content-body">


	<p> DTF technológia vôbec nenahrádza DTG tlač ani sieťotlač. Tlač na film sa využíva aj pri sieťotlači a nie je to nič nové. 	</p>
					<p> DTF je proces, vďaka ktorému je potlačená fólia prenosná priamo na materiál. 	</p>
					<p>	DTF je nová technológia, ktorá eliminuje proces film> sito> prenosový papier, ktorá sa nazýva pri sieťotlači -  konvenčná sieťotlač ( transferová sieťotlač). DTF bola vyvinutá hlavne pre uľahčenie separovania fólii pri plotroch. Niektoré malé grafiky a veľmi náročné obrázky nebolo možné vyrezať na rezacom plotri a nie to ešte separovať. Preto DTF teológia uľahčila a zjednodušila prácu.	</p>
					<p>	DTF tlač je určená k potlači tričiek, mikín a vlastne akéhokoľvek textilu a iných materiálov. Tlačí aj bielou farbou čiže je možné potlačiť akýkoľvek aj farebný textil. Tlač je úplne jednoduchá, lacná a dovolím si
					tvrdiť, že najkvalitnejšia forma digitálnej potlače textilu.

					</p>





<p>-      žiadna penetrácia </p>
<p>-	žiadne striktne načasované procesy aby ste nepokazili napr. tričko, </p>
<p>-	kvalitnejšia potlač, ostrejšie a sýtejšie farby, vyššia výdrž potlače, nebledne, nepraská, netrhá sa, je elastická, </p>
<p>-	možnosť potlačiť akýkoľvek textil - bavlna, polyester, nylon, elastan, rifľovina,... proste všetko a bez obmedzení,</p>
<p>-	žiadne silné alebo manuálne preplachy hlavy každý deň aby nezaschla, </p>
<p>-	nemusíte nabíjať a penetrovať každé tričko (vytlačíte na hárok aj viacero dizajnov a samostatne nažehlíte), </p>
<p>-	nemusíte mať XY šablón, aby ste mohli potlačiť napr. mikiny, nohavice, detské body atď... tu ste obmedzený len veľkosťou vášho termolisu,</p>
<p>5 vecí, ktoré by ste mali vedieť o technológii DTF.</p>
<br>
<h6>1. Kvalitné vybavenie je nevyhnutné.</h6>
<p>Ak vlastníte tlačiarenskú firmu, už viete, že kvalita vašej práce je len taká dobrá, aká je kvalita vašich tlačiarní a atramentov. To platí ešte viac, pokiaľ ide o DTF tlač. Rovnako ako pri iných procesoch prenosu tepla je pre dosiahnutie optimálnych výsledkov dôležité, aby ste investovali do kvalitnej tlačiarne a tepelného lisu .
<p>Vysokokvalitné atramenty sú potrebné aj na zabezpečenie toho, aby sa tlačová hlava neupchala. Odporúčame atramenty, ktoré sú určené výhradne pre tlač DTF a sú testované, vďaka čomu sú lepšie a kvalitnejšie. Jedným z príkladov takejto značky sú naše atramenty, ktoré si dávame miešať, preto náš rad atramentov DTF je s vyššou hustotou a sýtosťou farieb, vynikajúcim krytím a odolnosťou.
<h6>2. Nie všetky PET fólie potlač správne prenesú na materiál.</h6>
<p>Tlač DTF vyžaduje film ( fóliu ), ale to neznamená, že každý typ filmu ( fólie ) je vhodný pre proces DTF. Ak chcete dosiahnuť najlepšie výsledky, vyberte obojstrannú fóliu odstrániteľnú za studena, ktorú je možné potlačiť. Neošetrené fólie nižšej kvality môžu byť lacnejšie, ale jednoducho nezodpovedajú vlastnostiam obojstrannej fólie odstrániteľnej za studena – pri tlači sa môže potlač rozmazávať, neprijímať správne lepidlo a následne zničiť váš materiál (odev).</p>
<p>Fólia na odstraňovanie za studena je špeciálne upravená tak, aby odolala vysokým teplotám a tlaku tepelného lisu, je tiež kompatibilná so všetkými stolnými a veľkoformátovými tlačiarňami. Túto fóliu je možné zakúpiť, ako rezaný list, alebo v 100 m rolkách  pre väčšie prevádzky.</p>
<h6>3. Vyberte si lepidlo rozumne.</h6>
<p>Potlač na studený transferový  film nie je možné preniesť priamo na odev. Namiesto toho je potrebné použiť lepidlo, ktoré pomôže obrázku priľnúť k látke. Na našej stránke ponúkame jedinečné lepidlá vhodné na zapráškovanie potlačenej fólie DTF, ktoré sú dostatočne odolné, aby vydržali až niekoľko 10-tok praní a to všetko pri zachovaní vami potlačenej grafiky.</p>
<h6>4. Potláčaná tkanina nevyžaduje predbežnú úpravu technológiou DTF.</h6>
<p>Jednou z mnohých výhod tlače DTF je, že odevy nevyžadujú žiadnu úpravu pred samotným transferom na materiál. To môže zefektívniť vaše operácie a potenciálne znížiť vaše náklady. Celkovo je proces tlače DTF rýchlejší a vyžaduje menej práce ako iné formy potlače.</p>
<h6>5. Tlač DTF ponúka väčšiu všestrannosť</h6>
<p>Pri tlači priamo na textil sú vaše možnosti obmedzené. DTF vám poskytuje oveľa väčšiu flexibilitu, pretože môžete tlačiť na rôzne látky vrátane bavlny, polyesteru, umelého hodvábu, nylonu, hodvábu, kože a ďalších.</p>
<p>Zistite viac o technológii DTF.</p>
<p>Ak sa chcete dozvedieť viac o technológii DTF. Môžeme vám pomôcť zistiť, či je to správne riešenie pre vaše podnikanie a aké sú výhody používania tohto typu technológie.</p>
<p>Kontaktujte našich tlačových expertov ešte dnes, alebo si prezrite náš výber DTF tlačových produktov na našej webovej stránke.</p>

<article class="content-body">

</div>
</div>

</div> <!-- container //  -->
</section>

{% endblock %}
