{% extends 'base.html'%}

{% block content %}
<section class="section-pagetop bg"  >
<div class="container" >

	<h2 class="title-page">Ochrana Súkromia</h2>
  <div class="card">
		<div class="row no-gutters">
			<article class="content-body">
<p class='textpages'>
  Tieto pravidlá sa vzťahujú na túto webovú stránku www.elele.sk , www.elele.eu ,ktorú práve prezeráte
na mobilnom alebo stolnom zariadení. V týchto zásadách ochrany osobných údajov sa &quot;my&quot; a &quot;náš&quot;
vzťahuje na vlastníka a správcu údajov tohto webu.</p>
<p class='textpages'>Informácie, ktoré o vás zozbierané na spracovanie vašej objednávky, budú použité zákonne iba v
súlade so všeobecnými predpismi na ochranu údajov (GDPR).
  </p>
  <h5>OCHRANA SÚKROMIA & COOKIES</h5>
  <p class='textpages'>Tieto zásady ochrany osobných údajov určujú, aké údaje zhromažďujeme od osôb, ktoré navštívi našu webovú stránku, ako využívame zhromažďované dáta a ako spravujeme dáta, ktoré uchovávame. </p>
  <p class='textpages'>Chránime všetky informácie, ktoré nám poskytnete pri používaní tohto webu.</p>
  <h5>BUĎTE ubezpečený, ŽE VAŠE OCHRANA súkromie je chránené</h5>
  <p class='textpages'>Vaše údaje spracujeme a použijeme iba za účelom naplnenia objednávky, ktorú ste podali, a nie za iným účelom. Vaše osobné údaje sú vždy uchovávané a spracovávané v rámci EÚ.
</p>
  <p class='textpages'>Tieto pravidlá sú platné od 25. mája 2018. Tieto zásady môžeme zmeniť čas od času aktualizáciou tejto stránky. Mali by ste túto stránku čas od času skontrolovať, aby ste sa uistili, že ste spokojní so zmenami. Ak nesúhlasíte s pravidlami a zmluvou, môžete požiadať o odstránenie vašich dát z našich systémov.
</p>
  <h5>AKO získavam INFORMÁCIE
</h5>
  <p class='textpages'>Zhromažďujeme rôzne typy dát, ktoré umožňujú dokončiť rôzne procesy, ako napríklad poskytovanie predaj tovaru, informovanie o zmenách produktov a podobné aktivity.
</p>
  <p class='textpages'>Údaje zhromažďujeme, keď nám ich poskytnete, alebo sú zhromažďované automaticky pri používaní našich webových stránok.
</p>
  <p class='textpages'>Dáta, ktoré zhromažďujeme, obsahujú
</p>
  <p class='textpages'>Meno spoločnosti</p>
  <p class='textpages'>adresu spoločnosti</p>
  <p class='textpages'>Meno</p>
  <p class='textpages'>emailovú adresu</p>
  <p class='textpages'>telefónne číslo</p>
  <p class='textpages'>IP adresu</p>
  <p class='textpages'>Vaše nastavenia</p>
  <p class='textpages'>vaša súhlasy</p>
  <h5>AKO POUŽÍVAME VAŠE OSOBNÉ DATA? </h5>
  <p class='textpages'>Pri objednávke musíme uchovávať osobné údaje vrátane vášho mena, e-mailovej adresy, telefónneho čísla, fakturačné adresy, doručovacej adresy, aby sme mohli spracovať vašej objednávku. Vzhľadom k tomu, že sa jedná o záujem nášho podnikania, vaše kontaktné údaje môžu tiež byť poskytované dopravným spoločnostiam na účely dodania (prípadne).</p>
<h5>AKO zbieram DATA, Pri návšteve stránok
</h5>
  <p class='textpages'>Pomocou služby Google Analytics zaznamenávame, ako návštevníci web využívajú. Služba Google Analytics zhromažďuje a ukladá dáta v našom zastúpení. IP adresy zhromažďuje spoločnosť Google, aby služba mohla fungovať. Tieto dáta budú uchovávané najviac 28 mesiacov od posledného návštevy webových stránok. Údaje, ktoré spoločnosť Google zhromažďuje, sú anonymné a nebudú s vami spájať.
</p>
  <p class='textpages'>Tieto informácie využívame na zlepšenie našich produktov a služieb, ktoré ponúkame
  </p>
  <h5>Zbierajú VAŠE DATA PRI OBJEDNÁVKE NÁŠHO INFORMÁTORA
</h5>
  <p class='textpages'>Môžeme vám pravidelne zasielať propagačné e-mail o nových produktoch, špeciálnych ponukách alebo iných informáciách, o ktorých si myslíme, že by ste mohli využiť na e-mailovú adresu, ktorú ste nám poskytli.
</p>
<h5>BEZPEČNOSŤ INFORMÁCIÍ</h5>
  <p class='textpages'>Snažíme sa urobiť všetky opatrenia, aby sme zabezpečili, že vaše osobné dáta sú Zabezpečené. Aby sme zabránili neoprávnenému prístupu alebo odhaleniu, zaviedli sme vhodné fyzické, elektronické a riadiace postupy, ktoré zabezpečia informácie, ktoré zhromažďujeme online.
</p>
  <p class='textpages'>Keď zadáte objednávku alebo získate prístup k informáciám o vašom účte, používame šifrovanie Secured Socket Layer (SSL), ktoré zašifruje vaše informácie pred tým, než sú nám zaslané, aby sme ich ochránili pred neoprávneným použitím. Naviac prijímame primerané kroky, aby sme zaistili, že naši obchodní partneri, pomocou ktorých prenášame dáta, poskytnú dostatočnú ochranu týchto dát.
</p>
  <p class='textpages'>Vezmite na vedomie, že nemôžeme zaručiť, aby prenos informácií cez internet bol 100% bezpečný, a preto aj cez naše opatrenia nebudeme zodpovední za akúkoľvek stratu informácií
Správa osobných informácií
</p>
  <p class='textpages'>Môžete obmedziť zhromažďovanie alebo používanie vašich osobných údajov. Máte právo prezerať, meniť alebo mazať osobné údaje, ktoré o vás uchovávame. Môžete o to požiadať vo svojom zákazníckom účte na tomto webe.
</p>
  <p class='textpages'>Máte určité zákonné práva, s ktorými sme plne v súlade, a to:</p>
  <p class='textpages'>Právo byť informovaný.






</p>
  <p class='textpages'>Právo na prístup.</p>
  <p class='textpages'>Právo na nápravu.</p>
  <p class='textpages'>Právo vymazať.</p>
  <p class='textpages'>Právo obmedziť spracovanie.</p>
  <p class='textpages'>Právo na prenosnosť dát.</p>
  <p class='textpages'>Právo na námietku.</p>
  <p class='textpages'>Práva súvisiace s automatizovaným rozhodovaním a profilovaním.
</p>
  <p class='textpages'>Právo podať sťažnosť dozornému orgánu.
</p>
  <p class='textpages'>Nebudeme predávať, distribuovať, prenajímať ani inak previesť vaše osobné údaje tretím stranám, pokiaľ k tomu nebudeme mať vaše oprávnenie, alebo to zákon nevyžaduje.
</p>
<h5>POUŽÍVANIE COOKIES</h5>
  <p class='textpages'>Cookie je malý súbor, ktorý sa ukladá na pevný disk počítača. Akonáhle súhlasíte, súbor sa uloží a pomáha analyzovať návštevnosť webu alebo vás informuje o návšteve určitého webe. Súbory cookie umožňujú webovým aplikáciám reagovať na konkrétneho návštevníka. Webová aplikácia dokáže prispôsobiť svoje operácie vašim potrebám zhromažďovaním a zapamätaním informácií o vašich preferenciách.
</p>
  <p class='textpages'>Používame súbory cookie na identifikáciu stránok, ktoré navštevujete. To nám pomáha analyzovať dáta o návštevnosti webových stránok a vylepšovať naše webové stránky, aby sme ich prispôsobili potrebám zákazníkov. Tieto informácie používame len na účely štatistickej analýzy.
</p>
  <p class='textpages'>Celkovo nám súbory cookie pomáhajú poskytovať vám lepšie stránky, čo nám umožňuje sledovať, ktoré stránky považujete za užitočné a ktoré naopak nie. Súbory cookie nám v žiadnom prípade neposkytujú prístup k vášmu počítaču ani žiadne informácie o vás, s výnimkou údajov, ktoré ste sa s nami rozhodli zdieľať.
</p>
  <p class='textpages'>Naše webové stránky neukladajú žiadne citlivé alebo osobné údaje do súborov cookie, ktoré sa používajú na našich webových stránkach.
</p>

<h5>Heureka - Overené zákazníkmi
</h5>
  <p class='textpages'>Vašu spokojnosť s nákupom zisťujeme prostredníctvom e-mailových dotazníkov v rámci programu Overené zákazníkmi, do ktorého je náš e-shop zapojený. Tie vám zasielame zakaždým, keď u nás nakúpite, pokiaľ v zmysle § § 62 zák. č. 351/2011 Z. z. o elektronických komunikáciách, v znení neskorších predpisov neodmietnete zasielanie elektronickej pošty na účely priameho marketingu. </p>
  <p class='textpages'>Spracúvanie osobných údajov na účely zaslania dotazníkov v rámci programu Overené zákazníkmi vykonávame na základe nášho oprávneného záujmu, ktorý spočíva v zisťovaní vašej spokojnosti s nákupom u nás. Na zasielanie dotazníkov, vyhodnocovanie vašej spätnej väzby a analýz nášho trhového postavenia využívame sprostredkovateľa spracúvania, ktorým je prevádzkovateľ portálu Heureka.sk tomu na tieto účely môžeme odovzdávať informácie o kúpenom tovare a vašu e-mailovú adresu. Vaše osobné údaje nie sú pri zasielaní e-mailových dotazníkov odovzdané žiadnej tretej strane na jej vlastné účely. Proti zasielaniu e-mailových dotazníkov v rámci programu Overené zákazníkmi môžete kedykoľvek vyjadriť námietku odmietnutím ďalších dotazníkov pomocou odkazu v e-maile s dotazníkom. V prípade vašej námietky vám dotazník nebudeme ďalej zasielať.
</p>
<h5>VLASTNÍK A SPRÁVCA DÁT
</h5>
  <p class='textpages'>V prípadoch uvedených vyššie, kedy nás musíte kontaktovať, alebo s akýmikoľvek inými otázkami týkajúcimi sa využívania vašich údajov, nám prosím zašlite e-mail info@elele.sk
Realitcom s.r.o. , Magurská 37, 97411 Banská Bystrica,
</p>
  


</article>
  </div>
    </div>



</div> <!-- container //  -->
</section>

{% endblock %}
